@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);


html{

}
body{
	
}


* {
	border: 0px solid;
	list-style: none;
	margin :0 auto;
	padding :0;
	font-family: 'Nanum Gothic';
	
}

input[type='button'] {
    margin: 20px auto;
    background-color: #fc6a19;
    color: white;
    font-size: 16px;
    padding: 9px 15px;
}

a {
    text-decoration: none;
    color: #888;
}

h3{
	font-size: 20px;
}
h4{
	font-size: 15px;
	color : #4f964e;
}
h5{
	font-size: 15px;
}
h6{
	font-size: 14px;
}



.box{
	width: 70px;
	height: : 50px;
	text-align: center;
}


.login{
	text-align: center;
	background-color: #d4e6bb;
}
.login > div{
	width: 1100px;
	text-align: right;
}

.login div{
	display: inline-block;
	line-height: 30px;
}

/* 로그인 후 환영합니다 출력 */
.move_login box2{
    color: #378c42;
    font-size: 16px;
}


.login > div input[type='button'] {
    margin: 10px auto;
    background-color: #d4e6bb;
    color: #378c42;
    font-size: 16px;
    padding: 9px 15px;
}


.dot {
	color: white;
}


.wrap_menu {
	background-color: #ffffff;
}
.menu{
	height: 100px;
	width: 1100px;

}

.menu_logo{
	display: inline-block;
	width: 20%;
	height: 100px;
	vertical-align: top;
}
.menu_logo img{
	margin-top: 15px;
	margin-left: 20px;
}


.menu_content{
	display: inline-block;
	width: 870px;
	height: 100px;
	text-align: right;
}

.menu_content > ul{
	line-height: 100px;
}

.menu_content > ul > li{
	display: inline-block;
	width: 140px;
	text-align: center;
}


.wrap_inner {
	background-color: #ffffff;
	padding: 15px 0;
	display: none;
	position: absolute;
    width: 100%;
    z-index :100;
}
.menu_content_inner {
	width: 1100px;
	text-align : right;
}

.menu_content_inner > ul{
	vertical-align: top;
	display: inline-block;
	width: 140px;
	text-align: center;
}

.menu_content_inner > ul > li{
	line-height: 30px;
	color: #707070;
}


/* footer */

.footer{
	background-color: #333333;

}
.wrap_footer{
	width: 1100px;
}

.footer_menu{
	color: #a0a0a0;
	line-height: 50px;
	border-bottom: 1px solid #404040;
}
.footer_menu > div{
	display: inline-block;
}
.footer_menu > div:first-child{
	margin-right: 330px;
}

.footer_menu li{
	display: inline-block;
}


.footer_copy{
	color: #999;
	line-height: 20px;
	font-size: 13px;
	padding: 20px 0px 30px 0px;
}



/*  팝업 css */ 

.popup_cancel_wrap, .popup_confirm_wrap {
    display:none;
    
}



.popup_cancel_cover, .popup_confirm_cover{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: #000;
    opacity : 0.5;
    top: 0;
} 


.popup_cancel, .popup_confirm {
    position: fixed;
    width: 300px;
    top: 30%;
    left: 50%;
    margin: 30px auto;
    margin-top: -50px;
    margin-left: -150px;
    z-index: 100;
    background: white;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
}

.popup_head {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #d4e6bb;
    color: #596548;
}

.popup_content {
    position: relative;
    padding: 20px;
    box-sizing: border-box;
}

.popup_bottom {
    padding: 5px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.popup_button_cancel {
    margin: 3px;
    color: #fff;
    background-color: #536141;
    text-decoration: none;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    border-radius: 5px;
}

.popup_button_confirm {
    margin: 3px;
    color: #fff;
    background-color: #fc6a19;
    text-decoration: none;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    border-radius: 5px;
}

