body{
	background-color: #f5f5f5;
}

p{
	height: 30px;
}

.find_content{
	width: 700px;
}

.find_content div{
	border: 0px solid;
	display: inline-block;
}


.find_maintitle{
	margin-bottom: 20px;
}

.find_content > div{
	margin-bottom: 20px;
	border: 1px solid #e4e4e4;
	background-color: white;
	margin: 130px auto;
	padding: 30px;

	text-align: center;
	
}

form {

}

form div{
	line-height: 30px;
	text-align: left;
	margin: 15px 20px;
}
form input{
	text-alige: center;
}


.find_content input[type='text'],
.find_content input[type='password'],
.find_content input[type='email'],
.find_content select,
.find_content option
{
	background-color: #f7f7f7;
	border: 1px solid #e4e4e4;
	width:300px; 
    padding: 10px;
}
.find_content select,
.find_content option
{
    width:322px; 
    padding: 10px;
}


form input[type='text']{
	width:150px;
}

form input[type='submit'] {
	margin: 20px auto;
	background-color: #fc6a19;
	color: white;
	font-size: 16px;
	padding: 11px 25px;
}


.wrap1,
.wrap2
{
    display: inline-block;
    width: 600px;
}
.left{
    width: 200px;
    text-align: left;
}
.right{
    width: 350px;
}


.wrap1 > div,
.wrap2 > div
{
    padding: 15px
}
