body{
	background-color: #f5f5f5;
}


.wrap{
	margin: 50px auto;
	width:1100px;
	background: #fafafa;
}

/* 좌측 메뉴 */
.side_menu{
	width: 220px;
	display: inline-block;
	vertical-align: top;

}
.side_menu > div{
	margin: 0px;
    width: 202px;
    height: 80px;
    padding-left: 18px;
    font-size: 28px;
    line-height: 80px;
    color: #fff;
    font-weight: normal;
    font-family: 'nanum-square-r';
    background: #547014;
}
.side_menu ul li{
	border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
	font-size: 15px;
	width: 202px;
	padding: 16px 8px;
    background: #fafafa;
    text-align: left;
    color: #333;
    font-family: 'nanumB';
	height: 20px;
}
.side_menu ul li h5{
	margin-left: 15px;
}
/* 우측 내용 */

.program_content{
	width: 870px;
	display: inline-block;
}

.program_content > div{
	margin: 40px;
}

.program_tit01{
	margin-bottom: 30px;
}
.program_tit01 p{
    font-size: 25px;
    line-height: 25px;
    color: #6d9e0e;
}

.program_tit02{
	margin-bottom: 30px;
}
.program_tit02 > div{
    display: inline-block;
    border-bottom: 1px solid #eaeaea;
}

.program_tit02 > div:first-child{
    color: #11700e;
    margin-bottom: 20px;
}

.program_tit02 p{
    margin-bottom: 10px;
    line-height: 30px;
}

.program_tit02 table{
    width: 700px;
    text-align: center;
    margin: 20px 0 30px 0;
}
.program_tit02 th,
.program_tit02 td{
    border: 1px solid #e2e2e2;
    padding: 8px;
}

.program_tit02 th{
    background-color: #f5f5f5;
}
.program_tit03 p{
    line-height: 30px;
}

span{
    color: #b40000;
}

h11{
    margin-bottom: 10px;
    color: #6d9e0e;
    font-size: 22px;
    line-height: 36px;
}